version: "3.7"

services:
  database:
    container_name: mongo-database
    image: mongo:4.2
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_DATABASE: challenge
    networks:
        - nestjs-network

  development:
    container_name: backend-challenge-developer-clm
    image: backend-challenge-developer-clm:0.0.1
    depends_on:
      - database
    links:
      - database
    command: node dist/main
    environment:
      NODE_OPTIONS: "--max-old-space-size=8192"
      MONGO_DB_HOST: database
      EXTERNAL_API_MOVIES: http://www.omdbapi.com
      EXTERNAL_API_MOVIES_IMG: http://img.omdbapi.com
      EXTERNAL_API_MOVIES_KEY: c8dd6896
      PORT: 3000
      HOST: 0.0.0.0
    build:
        context: .
        target: development
    ports:
        - 3000:3000
        - 9229:9229
    networks:
        - nestjs-network
    volumes:
        - .:/usr/src/app
        - /usr/src/app/dist
        - /usr/src/app/node_modules
    restart: unless-stopped
networks:
    nestjs-network:
      driver: bridge